@import '~antd/dist/antd.css';
.btn {
  color: black;
  /* width: 600px; */
  width: 100%;
  height: 150px;
  font-weight: bolder;
  font-family: Helvetica;
  /* background: rgba(217, 251, 254,0.5)!important; */
  background: rgba(255, 255, 255,0.5)!important;
}