@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn {
  color: black;
  /* width: 600px; */
  width: 100%;
  height: 150px;
  font-weight: bolder;
  font-family: Helvetica;
  /* background: rgba(217, 251, 254,0.5)!important; */
  background: rgba(255, 255, 255,0.9)!important;
}